<section id="nopage">

  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-2">404</h1>
            <h4 class="pt-1">Oops! Terdapat Kesalahan.</h4>
            <p class="text-muted">Halaman Yang Anda Inginkan Tidak Ditemukan.</p>
          </div>

          <button (click)="redirectSite()" type="button" class="btn btn-primary px-2"> <i class="icon-screen-desktop"></i>&nbsp; klik disini</button>

        </div>
      </div>
    </div>
  </div>
</section>