<div class="nav-menu back-to-top">
    <a href="#cover">
        <span class="icon">
					<span class="fa fa-chevron-circle-up"></span>
        </span>
        <span>Back to Top</span>
    </a>
</div>
<section id="footer">
    <!--<div class="social-media">
        <div class="title">
            REACH US ON SOCIAL MEDIA
        </div>
        <a href="https://www.facebook.com/pegadaian" target="_blank"><span class="fa fa-facebook"></span></a>
        <a href="https://www.instagram.com/pegadaian/" target="_blank"><span class="fa fa-instagram"></span></a>
        <a href="https://twitter.com/pegadaian" target="_blank"><span class="fa fa-twitter"></span></a>
    </div>-->
    <div class="copyright">
        Copyright &copy; 2016 <span>Pegadaian Corporate University</span> All Rights Reserved
    </div>
</section>