<div *ngIf="authService.sudahLogin()">
  <div class="card">
    <div class="card-header">
      Table Server Paged
    </div>
    <div class="card-block">
      <table class="table table-sm table-striped table-condensed" *ngIf="events">
        <thead>
          <tr>
            <th>ID</th>
            <th>Kelas</th>
            <th>Tahun</th>
            <th>Nama</th>
            <th>Tgl Mulai</th>
            <th>Tgl Selesai</th>
            <th>Batch</th>
            <th>Quota</th>
            <th>Ttl Time</th>
            <th>Provider</th>
            <th>Tempat</th>
            <th>Lokasi</th>
            <th>PIC</th>
            <th>Biaya</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="small" *ngFor="let acara of events | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>{{acara.id}}</td>
            <td>{{acara.kelas}}</td>
            <td>{{acara.tahun}}</td>
            <td>{{acara.name}}</td>
            <td>{{acara.startDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{acara.endDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{acara.batch}}</td>
            <td>{{acara.quota}}</td>
            <td>{{acara.totalTime}} sks</td>
            <td>{{acara.provider}}</td>
            <td>{{acara.place}}</td>
            <td>{{acara.location}}</td>
            <td>{{acara.pic}}</td>
            <td class="text-right">{{acara.cost | number : '1.2-2'}}</td>
            <td><button class="btn btn-outline-primary btn-sm icon-note" (click)="showModal(acara, 'edit', modalEdit.show())"></button></td>
            <td><button class="btn btn-outline-danger btn-sm icon-trash" (click)="showModal(acara, 'delete', modalEdit.show())"></button></td>
          </tr>
        </tbody>
      </table>
      <div class="spinner text-center" *ngIf="loading"><br><br></div>
      <!--<div class="text-center" *ngIf="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
        <br><br>
      </div>-->
      <pagination-controls (pageChange)="getPage(p = $event)" id="server" class="text-center"></pagination-controls>
    </div>
  </div>

  <div bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Large modal</h4>
          <button type="button" class="close pull-right icon-close" (click)="modalEdit.hide()" aria-label="Close">
        </button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedEvent">
            {{mode}} : {{selectedEvent.id}} : {{selectedEvent.name}}
            <form (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="kelas" class="col-sm-2 col-form-label">Kelas</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="kelas" name="kelas" placeholder="Kelas" [(ngModel)]="eventNew.kelas" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="tahun" class="col-sm-2 col-form-label">Tahun</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="tahun" name="tahun" placeholder="Tahun" [(ngModel)]="eventNew.tahun" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="eventNew.name" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="startDate" class="col-sm-2 col-form-label">Tanggal Mulai</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Tanggal Mulai" [(ngModel)]="eventNew.startDate"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="endDate" class="col-sm-2 col-form-label">Tanggal Akhir</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Tanggal Akhir" [(ngModel)]="eventNew.endDate"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="batch" class="col-sm-2 col-form-label">Batch</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="batch" name="batch" placeholder="Batch" [(ngModel)]="eventNew.batch" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="group" class="col-sm-2 col-form-label">Group</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="group" name="group" placeholder="Group" [(ngModel)]="eventNew.group"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="event" class="col-sm-2 col-form-label">Event</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="event" name="event" placeholder="Event" [(ngModel)]="eventNew.event"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="method" class="col-sm-2 col-form-label">Method</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="method" name="method" placeholder="Method" [(ngModel)]="eventNew.method"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="internal" class="col-sm-2 col-form-label">Internal</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="internal" name="internal" placeholder="Internal" [(ngModel)]="eventNew.internal"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="open" class="col-sm-2 col-form-label">Open</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="open" name="open" placeholder="Open" [(ngModel)]="eventNew.open"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="quota" class="col-sm-2 col-form-label">Quota</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="quota" name="quota" placeholder="Quota" [(ngModel)]="eventNew.quota"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="totalTime" class="col-sm-2 col-form-label">Total Time</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="totalTime" name="totalTime" placeholder="Total Time" [(ngModel)]="eventNew.totalTime"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="provider" class="col-sm-2 col-form-label">Provider</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="provider" name="provider" placeholder="Provider" [(ngModel)]="eventNew.provider"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="place" class="col-sm-2 col-form-label">Place</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="place" name="place" placeholder="Place" [(ngModel)]="eventNew.place"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="location" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="location" name="location" placeholder="Location" [(ngModel)]="eventNew.location"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="pic" class="col-sm-2 col-form-label">PIC</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="pic" name="pic" placeholder="PIC" [(ngModel)]="eventNew.pic"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="endDate" class="col-sm-2 col-form-label">Biaya</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Tanggal Akhir" [(ngModel)]="eventNew.endDate"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label for="endDate" class="col-sm-2 col-form-label">Result</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Tanggal Akhir" [(ngModel)]="eventNew.endDate"
                    required>
                </div>
              </div>
              <!-- Button save-->
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="reset" class="btn btn-info" (click)="reset()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <button class="btn btn-info pull-right" (click)="modalEdit.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>