<div class="app flex-row align-items-center">
    <div class="container" *ngIf="!authService.sudahLogin()">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Login</h1>
                            <p class="text-muted">Masukkan username dan password!</p>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button (click)="login()" type="button" class="btn btn-primary px-2"><i class="icon-login"></i>&nbsp; Login</button>
                                </div>
                            </div>
                            <br>
                            <div class="alert alert-danger col-12" role="alert" *ngIf="!isValid">
                                {{errorMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h4>Pegadaian</h4>
                                <h4>Corporate University</h4>
                                <p>Sebagai Solusi Mencetak Tenaga Kerja Yang Ahli dan Berkompeten</p>
                                <br>
                                <br>
                                <button (click)="redirectSite()" type="button" class="btn btn-secondary"> <i class="icon-screen-desktop"></i>&nbsp; Pegadaian Coporate Site</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>