<app-navbar></app-navbar>
<section id="cover">
    <div class="cover-wrap">
        <div class="fill-background"></div>
    </div>
    <div class="text-cover wow fadeInUp" data-wow-duration="0.5s">
        <span class="title">TENTANG CORPORATE UNIVERSITY</span>
        <span class="desc">Sebuah entitas pendidikan yang merupakan alat strategis yang dirancang untuk membantu induk organisasi dalam mencapai tujuan organisasi melalui kegiatan-kegiatan yang menumbuhkan <em>learning</em>, <em>knowledge</em> &amp; <em>wisdom</em> bagi individu maupun organisasi. (Allen, 2002).</span>
    </div>

    <div class="event">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="event-title">
                        <div class="title">&nbsp;</div>
                    </div>
                    <div class="event-container">
                        <div class="title-corporate">Pegadaian CORPORATE UNIVERSITY</div>
                        <div class="desc-corporate">Salah satu <em>strategic engine</em> organisasi yang mengintegrasikan seluruh &quot;<em>Learning Resources, Process &amp; People</em>&quot; dalam perusahaan, untuk meningkatkan kinerja melalui peningkatan <em>knowledge</em>, <em>skill</em>                            &amp; <em>attitude</em>/ <em>beliefs</em> setiap individu dalam &ldquo;<em>business eco-system</em>&rdquo;.</div>
                        <div class="clearfix"></div>
                    </div>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/7qGOPAuFlCQ">
						</iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="program">
    <div class="container wow fadeInUp" data-wow-duration="1s">
        <div class="row">
            <div class="col-xs-12 section-title">
                PEGADAIAN CORPORATE<br/>UNIVERSITY FRAMEWORK
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="penjelasan-framework">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="margin-bottom:20px;">Merupakan kerangka Pegadaian-CU yang terdiri dari <em>base</em> dan pilar yang saling terkait satu dengan yang lainnya. <em>Base</em> yang terdiri dari Learning Strategy Governance dan Learning Focus harus ada untuk menopang pilar-pilar
                            di atasnya seperti Knowledge Management, School/Academy, Culture Transformation Center, New Talent Supply Center, Assessment Center, Organizational Research Center, Supplier/Customer Development Center, Alliance &amp; Partnership
                            serta Learning Infrastructure. Pada akhirnya pilar-pilar ini menopang Learning Solution Architecture dan Learning Solution Delivery System.</p><br/>
                    </div>
                </div>

                <!-- -->
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="1">
                        <span class="img-program">
								<img src="assets/img/icon/Learning-Strategy.png" class="img-responsive">
							</span>
                        <div class="title">Learning Strategy Governance</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-1 hidden-md hidden-lg">
                            <ul>
                                <li>Proses formulasi, implementasi dan <em>monitoring</em> dari Strategi Pembelajaran Organisasi.</li>
                                <li>Komponen ini termasuk <em>Key Performance Indicator</em> (KPI) Corporate University dan <em>Performance Management System</em> (PMS).</li>
                                <li>Dewan pembelajaran Senior Management juga termasuk bagian dari pembuat kebijakan.</li>
                                <li>Untuk memastikan bahwa Masterplan Corporate University dan <em>Blueprint</em> tercapai/terselesaikan.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="2">
                        <span class="img-program">
								<img src="assets/img/icon/Learning-Focus.png" class="img-responsive">
							</span>
                        <div class="title">Learning Focus</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-2 hidden-md hidden-lg">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <img src="assets/img/Piramid.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <ul>
                                        <li>Kerangka dari &ldquo;Prioritas kapabilitas (Keahlian &amp; Keinginan) untuk masing-masing kelompok kerja&rdquo;, yang ini terkait, sejalan, dan mendukung maksud strategi dari organisasi.</li>
                                        <li>Learning Focus diperoleh dari <em>Learning Need Diagnosis</em> (LND) &nbsp;yang dilakukan di seluruh organisasi.</li>
                                        <li>Didefinisikan sebagai Struktur Konten yang akan menghasilkan sebuah Karakter Pembelajaran yang unik dalam Corporate University.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="3">
                        <span class="img-program">
								<img src="assets/img/icon/Learning-Solution-Architecture.png" class="img-responsive">
							</span>
                        <div class="title">Learning Solution Architecture</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-3 hidden-md hidden-lg">
                            <ul>
                                <li>Arsitektur konseptual yang bekerja sebagai sebuah <em>template</em> dasar untuk bekerja dan berintegrasi antara fungsi-fungsi di Corporate University.</li>
                                <li>Protokol Instructional System Design (ISD) yang ditempatkan untuk memastikan kualitas &amp; kecepatan Learning Solutions yang dibangun, dibeli, atau digunakan kembali di organisasi.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="4">
                        <span class="img-program">
								<img src="assets/img/icon/Learning-Solution-Delivery-system.png" class="img-responsive">
							</span>
                        <div class="title">Learning Solution Delivery System</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-4 hidden-md hidden-lg">
                            <ul>
                                <li>Sistem yang mengintegrasikan <em>input-process-output</em> dari Corporate University.</li>
                                <li>Hal itu memastikan penyampaian dan penyerapan dari seluruh produk Corporate University.</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 program-description program-1 hidden-xs hidden-sm">
                        <ul>
                            <li>Proses formulasi, implementasi dan <em>monitoring</em> dari Strategi Pembelajaran Organisasi.</li>
                            <li>Komponen ini termasuk <em>Key Performance Indicator</em> (KPI) Corporate University dan <em>Performance Management System</em> (PMS).</li>
                            <li>Dewan pembelajaran Senior Management juga termasuk bagian dari pembuat kebijakan.</li>
                            <li>Untuk memastikan bahwa Masterplan Corporate University dan <em>Blueprint</em> tercapai/terselesaikan.</li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-2 hidden-xs hidden-sm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img src="assets/img/Piramid.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <ul>
                                    <li>Kerangka dari &ldquo;Prioritas kapabilitas (Keahlian &amp; Keinginan) untuk masing-masing kelompok kerja&rdquo;, yang ini terkait, sejalan, dan mendukung maksud strategi dari organisasi.</li>
                                    <li>Learning Focus diperoleh dari <em>Learning Need Diagnosis</em> (LND) &nbsp;yang dilakukan di seluruh organisasi.</li>
                                    <li>Didefinisikan sebagai Struktur Konten yang akan menghasilkan sebuah Karakter Pembelajaran yang unik dalam Corporate University.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-3 hidden-xs hidden-sm">
                        <ul>
                            <li>Arsitektur konseptual yang bekerja sebagai sebuah <em>template</em> dasar untuk bekerja dan berintegrasi antara fungsi-fungsi di Corporate University.</li>
                            <li>Protokol Instructional System Design (ISD) yang ditempatkan untuk memastikan kualitas &amp; kecepatan Learning Solutions yang dibangun, dibeli, atau digunakan kembali di organisasi.</li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-4 hidden-xs hidden-sm">
                        <ul>
                            <li>Sistem yang mengintegrasikan <em>input-process-output</em> dari Corporate University.</li>
                            <li>Hal itu memastikan penyampaian dan penyerapan dari seluruh produk Corporate University.</li>
                        </ul>
                    </div>
                </div>

                <!-- -->
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="5">
                        <span class="img-program">
								<img src="assets/img/icon/Knowledge-Management.png" class="img-responsive">
							</span>
                        <div class="title">Knowledge Management</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-5 hidden-md hidden-lg">
                            Sistem <em>identify</em>, <em>capture</em>, <em>store</em>, <em>share</em> &amp; <em>use</em> &ldquo;<em>knowledge</em>&rdquo; saat ini di organisasi sehingga yang seluruh unit dalam organisasi dapat belajar &amp; memperoleh
                            manfaat darinya.
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="6">
                        <span class="img-program">
								<img src="assets/img/icon/Learning-Infrastructure.png" class="img-responsive">
							</span>
                        <div class="title">Learning Infrastructure</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-6 hidden-md hidden-lg">
                            <ul>
                                <li>Struktur Pendukung Administrasi dari Corporate University yang termasuk staf, Sistem Manajemen Pembelajaran, Fasilitas &amp; Pendukung Anggaran.</li>
                                <li>Terdiri dari 20 <em>building blocks</em> yang memungkinkan proses pembelajaran organisasi.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="7">
                        <span class="img-program">
								<img src="assets/img/icon/Business-Academy.png" class="img-responsive">
							</span>
                        <div class="title">Business Academy</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-7 hidden-md hidden-lg">
                            Unit Learning Solutions yang fokus pada dukungan bisnis yang utama seperti manufaktur, pemasaran, ritel, produksi, dll.
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="8">
                        <span class="img-program">
								<img src="assets/img/icon/Core-Competency.png" class="img-responsive">
							</span>
                        <div class="title">Core Competency Academy</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-8 hidden-md hidden-lg">
                            Unit Learning Solutions yang fokus pada pengembangan keahlian penting yang diminta untuk mendukung strategi dan operasional unggul dari organisasi.
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 program-description program-5 hidden-xs hidden-sm">
                        Sistem <em>identify</em>, <em>capture</em>, <em>store</em>, <em>share</em> &amp; <em>use</em> &ldquo;<em>knowledge</em>&rdquo; saat ini di organisasi sehingga yang seluruh unit dalam organisasi dapat belajar &amp; memperoleh manfaat
                        darinya.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-6 hidden-xs hidden-sm">
                        <ul>
                            <li>Struktur Pendukung Administrasi dari Corporate University yang termasuk staf, Sistem Manajemen Pembelajaran, Fasilitas &amp; Pendukung Anggaran.</li>
                            <li>Terdiri dari 20 <em>building blocks</em> yang memungkinkan proses pembelajaran organisasi.</li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-7 hidden-xs hidden-sm">
                        Unit Learning Solutions yang fokus pada dukungan bisnis yang utama seperti manufaktur, pemasaran, ritel, produksi, dll.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-8 hidden-xs hidden-sm">
                        Unit Learning Solutions yang fokus pada pengembangan keahlian penting yang diminta untuk mendukung strategi dan operasional unggul dari organisasi.
                    </div>
                </div>

                <!-- -->
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="9">
                        <span class="img-program">
								<img src="assets/img/icon/Leadership-Academy.png" class="img-responsive">
							</span>
                        <div class="title">Leadership Academy</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-9 hidden-md hidden-lg">
                            Unit Learning Solutions yang fokus pada pengembangan <em>pipeline</em> dari identifikasi pemimpin masa depan &amp; <em>talent</em> penting untuk organisasi.
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="10">
                        <span class="img-program">
								<img src="assets/img/icon/Culture-Transformation.png" class="img-responsive">
							</span>
                        <div class="title">Culture Transformation Center</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-10 hidden-md hidden-lg">
                            Unit Learning Solutions yang fokus pada pengembangan dan penyampaian &ldquo;pembelajaran: yang akan menyebarkan, memajukan &amp; melindungi permintaan budaya &amp; &ldquo;<em>team learning</em>&rdquo; di seluruh Organisasi.
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="11">
                        <span class="img-program">
								<img src="assets/img/icon/New-Talent-Supply.png" class="img-responsive">
							</span>
                        <div class="title">New Talent Supply Center</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-11 hidden-md hidden-lg">
                            Unit organisasi yang dengan proaktif fokus untuk menemukan <em>talent</em> yang dibutuhkan oleh perusahaan dalam pencapaian <em>goal</em>-nya.
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 box-program" index="12">
                        <span class="img-program">
								<img src="assets/img/icon/Assessment-Center.png" class="img-responsive">
							</span>
                        <div class="title">Assessment Center</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-12 hidden-md hidden-lg">
                            <ul>
                                <li>Unit Organisasi yang fokus pada penyusunan profil seluruh pembelajar dalam perusahaan dan lingkungan bisnisnya</li>
                                <li>Memfasilitasi pengujian, penilaian &amp; sertifikasi staf dalam keahlian &ldquo;<em>core</em> &amp; <em>competitive</em>&rdquo; (baik <em>technical skill</em> dan <em>leadership</em>).</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 program-description program-9 hidden-xs hidden-sm">
                        Unit Learning Solutions yang fokus pada pengembangan <em>pipeline</em> dari identifikasi pemimpin masa depan &amp; <em>talent</em> penting untuk organisasi.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-10 hidden-xs hidden-sm">
                        Unit Learning Solutions yang fokus pada pengembangan dan penyampaian &ldquo;pembelajaran: yang akan menyebarkan, memajukan &amp; melindungi permintaan budaya &amp; &ldquo;<em>team learning</em>&rdquo; di seluruh Organisasi.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-11 hidden-xs hidden-sm">
                        Unit organisasi yang dengan proaktif fokus untuk menemukan <em>talent</em> yang dibutuhkan oleh perusahaan dalam pencapaian <em>goal</em>-nya.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-12 hidden-xs hidden-sm">
                        <ul>
                            <li>Unit Organisasi yang fokus pada penyusunan profil seluruh pembelajar dalam perusahaan dan lingkungan bisnisnya</li>
                            <li>Memfasilitasi pengujian, penilaian &amp; sertifikasi staf dalam keahlian &ldquo;<em>core</em> &amp; <em>competitive</em>&rdquo; (baik <em>technical skill</em> dan <em>leadership</em>).</li>
                        </ul>
                    </div>
                </div>


                <!-- -->
                <div class="row" style="max-width: 850px;margin: 0 auto;">
                    <div class="col-xs-12 col-sm-4 box-program" index="13">
                        <span class="img-program">
								<img src="assets/img/icon/Organization.png" class="img-responsive">
							</span>
                        <div class="title">Organization Research Center</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-13 hidden-md hidden-lg">
                            Unit yang bertindak sebagai &ldquo;<em>Window to the World</em>&rdquo; dengan melakukan penelitian, tolak ukur kajian &amp; sumber dari &ldquo;<em>competitive</em> <em>knowledge</em>&rdquo; pada kemampuan organisasi untuk belajar
                            &amp; memanfaatkan strategi kompetensi.
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 box-program" index="14">
                        <span class="img-program">
								<img src="assets/img/icon/SupplierCustomer.png" class="img-responsive">
							</span>
                        <div class="title">Supplier/Customer Development Center</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-14 hidden-md hidden-lg">
                            Unit Learning Solutions yang fokus pada <em>training</em> &amp; sertifikasi dari <em>supplier</em> untuk memperbaiki kualitas <em>input</em> dan menolong pelanggan dalam pemanfaatan produk yang lebih baik.
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 box-program" index="15">
                        <span class="img-program">
								<img src="assets/img/icon/Alliance_Partnership.png" class="img-responsive">
							</span>
                        <div class="title">Alliance &amp; Partnership</div>
                        <div class="icon glyphicon glyphicon-triangle-bottom"></div>
                        <div class="program-description program-15 hidden-md hidden-lg">
                            Unit yang memadukan dan mengembangkan kemitraan kerja dengan institusi pembelajaran eksternal (Universitas Akademik, Instansi Teknis, Agensi Pemerintahan Corporate University lainnya), untuk menawarkan pengembangan profesional &amp; kesempatan kualifikasi
                            untuk staf.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 program-description program-13 hidden-xs hidden-sm">
                        Unit yang bertindak sebagai &ldquo;<em>Window to the World</em>&rdquo; dengan melakukan penelitian, tolak ukur kajian &amp; sumber dari &ldquo;<em>competitive</em> <em>knowledge</em>&rdquo; pada kemampuan organisasi untuk belajar
                        &amp; memanfaatkan strategi kompetensi.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-14 hidden-xs hidden-sm">
                        Unit Learning Solutions yang fokus pada <em>training</em> &amp; sertifikasi dari <em>supplier</em> untuk memperbaiki kualitas <em>input</em> dan menolong pelanggan dalam pemanfaatan produk yang lebih baik.
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 program-description program-15 hidden-xs hidden-sm">
                        Unit yang memadukan dan mengembangkan kemitraan kerja dengan institusi pembelajaran eksternal (Universitas Akademik, Instansi Teknis, Agensi Pemerintahan Corporate University lainnya), untuk menawarkan pengembangan profesional &amp; kesempatan kualifikasi
                        untuk staf.
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<section id="visi-misi" class="wow fadeInUp" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <img src="assets/img/bg-visi-misi.jpg" class="img-responsive">
                <ul class="nav nav-tabs nav-visi-misi" role="tablist">
                    <li role="presentation" class="active"><a href="#visi" aria-controls="visi" role="tab" data-toggle="tab">VISI</a></li>
                    <li role="presentation"><a href="#misi" aria-controls="misi" role="tab" data-toggle="tab">MISI</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="visi">
                        <p>Menjadi pusat pengembangan profesional jasa keuangan kelas dunia. (<em>To become a world class financial services professional development center</em>).</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="misi">
                        <ol>
                            <li>
                                Menciptakan sistem pengembangan profesional di bidang jasa keuangan kelas dunia, pada bidang perbankan internasional, bidang kredit, bidang manajemen risiko dan bidang operasional.
                            </li>
                            <li>
                                Mengakselerasi persiapan kaderisasi pemimpin bisnis Pegadaian untuk menjawab kebutuhan bisnis di masa depan.
                            </li>
                            <li>
                                Membangun aliansi dengan mitra strategis dan potensial (universitas, pusat pengembangan kepemimpinan, dan pusat kajian bisnis, asosiasi, pelaku industri lainnya).
                            </li>
                            <li>
                                Membangun solusi pembelajaran jasa keuangan kelas dunia yang aplikatif dan berdampak bisnis.
                            </li>
                            <li>
                                Membangun pusat asesmen yang handal dalam mendukung proses pengembangan.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tentang-logo">
    <div class="container wow fadeInUp" data-wow-duration="0.5s">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="assets/img/logo.png">
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-6">
                <div class="tentang-logo-title">
                    TENTANG LOGO
                </div>
                <div class="tentang-logo-desc">
                    <p>Pohon Hayat adalah simbol <em>long-lasting</em>, merupakan sebuah pohon yang kuat, besar, tahan dalam segala cuaca, dan hidupnya panjang. Pohon hayat atau biasa dikenal pohon kehidupan adalah notabene simbol kekuatan luar biasa yang
                        sukses hidup dalam jangka waktu yang panjang. Simbol pohon kehidupan yang tumbuh makin kuat diaplikasikan sebagai pohon kesuksesan.</p>
                    <p>Pegadaian Corporate University diharapkan tumbuh kuat, tahan goncangan, mampu beradaptasi dengan perkembangan teknologi dan mampu mendidik dan menghasilkan <em>human capital</em> yang mumpuni di bidang pengelolaan perbankan. <em>Human value</em>                        yang lahir dari Pegadaian Corporate University, diharapkan mampu memperkuat nilai-nilai dari korporasi Pegadaian.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>