<header>
  <div class="container">
    <div id="branding">
      <img src="./src/img/logo.png">
    </div>
    <nav>
      <ul class = "warna">
        <li><a (click)="goTo('corporate')" routerLinkActive="router-link-active" >BERANDA</a></li>
        <li><a (click)="goTo('visi-misi')" routerLinkActive="router-link-active" >VISI & MISI</a></li>
         <li><a (click)="goTo('tentang-logo')" routerLinkActive="router-link-active" >TENTANG LOGO</a></li>
        <li><a [routerLink]="['/admin/login']" routerLinkActive="router-link-active">LOGIN</a></li>
      </ul>
    </nav>
  </div>
</header>
